### Curso cientista de dados - Projeto final

Sobre o projeto: Uma empresa de empréstimos fictícia sofre com a inadimpência de seus clientes e o nosso objetivo é reduzir essa taxa.

Criar um modelo de machine learning a partir de um banco de dados

In [1]:
#Importação de bibliotecas
import pandas as pd
import numpy as np
import statistics  as sts
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import np_utils
from sklearn.compose import make_column_transformer
import tensorflow as tf
import psycopg2

Conectando o banco de dados ao python

In [2]:
#conexão com o banco de dados
conexao = psycopg2.connect(host="localhost",database="Projeto", user="postgres", password="12345", port=5432)

In [3]:
#cria um cursor
cursor = conexao.cursor()
#define consulta
consulta = "select * from credito"
#executa
cursor.execute(consulta)

In [4]:
#recupera todos os registros
registros = cursor.fetchall()

In [ ]:
#percorre os registros e imprime
#for registro in registros:
#    print(registro)

Tratamento dos dados

In [6]:
# a variavel registro nos vem como uma tupla, então transformamos em array usando o numpy
db = pd.DataFrame(np.array(registros))

In [7]:
#Damos nomes para as colunas através do comando columns do pandas
db.columns = ["IDCREDITO", "Duracao", "HistoricoCredito", "Proposito", "Valor", "Investimentos", "Emprego", "TempoParcelamento", "EstadoCivil", 
              "FiadorTerceiros", "ResidenciaDesde", "Idade", "OutrosFinanciamentos", "Habitacao", "EmprestimoExistente", "Profissao", 
              "Dependentes", "SocioEmpresa", "Estrangeiro", "Status"]
db.head()

,IDCREDITO,Duracao,HistoricoCredito,Proposito,Valor,Investimentos,Emprego,TempoParcelamento,EstadoCivil,FiadorTerceiros,ResidenciaDesde,Idade,OutrosFinanciamentos,Habitacao,EmprestimoExistente,Profissao,Dependentes,SocioEmpresa,Estrangeiro,Status
0,2,48,2,1,5951,2,3,2,1,3,2,22,3,1,1,4,1,0,0,0
1,3,12,1,2,2096,2,4,2,4,3,3,49,3,1,1,3,2,0,0,1
2,4,42,2,3,7882,2,4,2,4,4,4,45,3,2,1,4,2,0,0,1
3,5,24,3,4,4870,2,3,3,4,3,4,53,3,2,2,4,2,0,0,0
4,6,36,2,2,9055,1,3,2,4,3,4,35,3,2,1,3,2,1,0,1

In [409]:
#verificamos o formato do banco de dados para ver se está ok e podemos começar a explorar os dados
db.shape

(1000, 20)

In [410]:
#Verificar se existem valores nulos(NaN) na database
db.isnull().sum()

IDCREDITO                0
Duracao                  0
HistoricoCredito         0
Proposito                0
Valor                    0
Investimentos            0
Emprego                 10
TempoParcelamento        0
EstadoCivil              0
FiadorTerceiros          0
ResidenciaDesde          7
Idade                    0
OutrosFinanciamentos     0
Habitacao                9
EmprestimoExistente      0
Profissao                0
Dependentes              0
SocioEmpresa             0
Estrangeiro              0
Status                   0
dtype: int64

In [411]:
#A coluna emprego possui um valor NaN, mas como não é um  valor numérico, utilizamos a Moda
#Repetimos o processo para as colunas ResidenciaDesde e Habitacao
emprego = db.groupby(['Emprego']).size()
emprego

Emprego
1    171
2    247
3    338
4    172
5     62
dtype: int64

In [412]:
#Subistituir o valor NaN pela moda
db['Emprego'].fillna(3, inplace = True)

In [413]:
#Repetimos o processo para a coluna ResidenciaDesde
residencia = db.groupby(['ResidenciaDesde']).size()
residencia

ResidenciaDesde
1    129
2    308
3    147
4    409
dtype: int64

In [414]:
#Subistituir o valor NaN pela moda
db['ResidenciaDesde'].fillna(4, inplace = True)

In [415]:
#Repetimos o processo para a coluna Habitacao
habitacao = db.groupby(['Habitacao']).size()
habitacao

Habitacao
1    709
2    107
3    175
dtype: int64

In [416]:
#Subistituir o valor NaN pela moda
db['Habitacao'].fillna(1, inplace = True)

In [417]:
#Repetimos o processo para a coluna Profissao, pois analizando o banco de dados descobrimos um valor não nulo, porém fora dos padrões
profissao = db.groupby(['Profissao']).size()
profissao

Profissao
1      147
2       22
3      197
4      625
999      9
dtype: int64

In [418]:
#Como o valor 999 não é nulo, precisamos localizá-lo na tabela e substituílo pela moda.
db.loc[(db['Profissao'] > 5 ), 'Profissao'] = 4

In [419]:
profissao = db.groupby(['Profissao']).size()
profissao

Profissao
1    147
2     22
3    197
4    634
dtype: int64

In [420]:
db = db.drop(columns=['IDCREDITO', 'Valor', 'Duracao', 'Proposito', ])

In [421]:
db.head()

,HistoricoCredito,Investimentos,Emprego,TempoParcelamento,EstadoCivil,FiadorTerceiros,ResidenciaDesde,Idade,OutrosFinanciamentos,Habitacao,EmprestimoExistente,Profissao,Dependentes,SocioEmpresa,Estrangeiro,Status
0,2,2,3,2,1,3,2,22,3,1,1,4,1,0,0,0
1,1,2,4,2,4,3,3,49,3,1,1,3,2,0,0,1
2,2,2,4,2,4,4,4,45,3,2,1,4,2,0,0,1
3,3,2,3,3,4,3,4,53,3,2,2,4,2,0,0,0
4,2,1,3,2,4,3,4,35,3,2,1,3,2,1,0,1

Criação e treinamento do modelo

In [422]:
x= db.iloc[:,0:15].values #previsores
y= db.iloc[:,15].values #classe

In [423]:
LE = LabelEncoder()
scaler = StandardScaler()

In [424]:
for z in range(15):
    x[:,z] = LE.fit_transform(x[:,z])
x.shape

(1000, 15)

In [425]:
y = LE.fit_transform(y)
y

array([0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1])

In [426]:
# Divisão da base em treino e teste (70% para treinamento e 30% para teste)
x_treinamento, x_teste, y_treinamento, y_teste = train_test_split(x, y, 
                                                                  test_size=0.3,
                                                                  random_state=0)

In [427]:
# Criação da estrutura da rede neural com a classe Sequential (sequência de camadas)
modelo = Sequential()
modelo.add(Dense(units = 30, input_dim = 15))
modelo.add(Dense(units = 38))
modelo.add(Dense(units = 27, activation = 'softmax'))

In [428]:
x_treinamento =  np.asarray(x_treinamento).astype(np.int64)
y_treinamento =  np.asarray(y_treinamento).astype(np.int64)
x_treinamento = tf.convert_to_tensor(x_treinamento, dtype=tf.int64)
y_treinamento = tf.convert_to_tensor(y_treinamento, dtype=tf.int64)
x_teste = tf.convert_to_tensor(x_treinamento, dtype=tf.int64)
y_teste = tf.convert_to_tensor(y_treinamento, dtype=tf.int64)

In [429]:
modelo.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])

modelo.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_33 (Dense)            (None, 30)                480

 dense_34 (Dense)            (None, 38)                1178

 dense_35 (Dense)            (None, 27)                1053

=================================================================
Total params: 2,711
Trainable params: 2,711
Non-trainable params: 0
_________________________________________________________________

In [430]:
modelo.fit(x_treinamento, y_treinamento, epochs = 100, validation_data = [x_teste, y_teste])

Epoch 1/100
22/22 [==============================] - 0s 6ms/step - loss: 3.1958 - accuracy: 0.3600 - val_loss: 1.1993 - val_accuracy: 0.6614
Epoch 2/100
22/22 [==============================] - 0s 2ms/step - loss: 0.8787 - accuracy: 0.6286 - val_loss: 0.7694 - val_accuracy: 0.6500
Epoch 3/100
22/22 [==============================] - 0s 2ms/step - loss: 0.7217 - accuracy: 0.6314 - val_loss: 0.6814 - val_accuracy: 0.6443
Epoch 4/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6710 - accuracy: 0.6414 - val_loss: 0.6679 - val_accuracy: 0.6614
Epoch 5/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6770 - accuracy: 0.6571 - val_loss: 0.6377 - val_accuracy: 0.6557
Epoch 6/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6369 - accuracy: 0.6643 - val_loss: 0.6365 - val_accuracy: 0.6500
Epoch 7/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6204 - accuracy: 0.6600 - val_loss: 0.6099 - val_accuracy: 0.6914
Epoch 8/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6261 - accuracy: 0.6757 - val_loss: 0.6025 - val_accuracy: 0.6814
Epoch 9/100
22/22 [==============================] - 0s 3ms/step - loss: 0.6272 - accuracy: 0.6771 - val_loss: 0.5966 - val_accuracy: 0.6871
Epoch 10/100
22/22 [==============================] - 0s 3ms/step - loss: 0.6148 - accuracy: 0.6986 - val_loss: 0.6166 - val_accuracy: 0.6814
Epoch 11/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6064 - accuracy: 0.6771 - val_loss: 0.5938 - val_accuracy: 0.6871
Epoch 12/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6012 - accuracy: 0.6900 - val_loss: 0.5918 - val_accuracy: 0.6857
Epoch 13/100
22/22 [==============================] - 0s 3ms/step - loss: 0.6050 - accuracy: 0.6671 - val_loss: 0.6135 - val_accuracy: 0.6914
Epoch 14/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5975 - accuracy: 0.6886 - val_loss: 0.5921 - val_accuracy: 0.6900
Epoch 15/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6004 - accuracy: 0.6900 - val_loss: 0.5895 - val_accuracy: 0.6914
Epoch 16/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6032 - accuracy: 0.6857 - val_loss: 0.6134 - val_accuracy: 0.6800
Epoch 17/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6100 - accuracy: 0.6843 - val_loss: 0.5897 - val_accuracy: 0.6914
Epoch 18/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5945 - accuracy: 0.6929 - val_loss: 0.5919 - val_accuracy: 0.6929
Epoch 19/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6116 - accuracy: 0.6771 - val_loss: 0.5863 - val_accuracy: 0.6943
Epoch 20/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5944 - accuracy: 0.6986 - val_loss: 0.6029 - val_accuracy: 0.6929
Epoch 21/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6150 - accuracy: 0.6800 - val_loss: 0.6190 - val_accuracy: 0.6957
Epoch 22/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6348 - accuracy: 0.6729 - val_loss: 0.5859 - val_accuracy: 0.6900
Epoch 23/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5925 - accuracy: 0.6800 - val_loss: 0.5850 - val_accuracy: 0.6914
Epoch 24/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6059 - accuracy: 0.6957 - val_loss: 0.5851 - val_accuracy: 0.6943
Epoch 25/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6035 - accuracy: 0.6814 - val_loss: 0.6191 - val_accuracy: 0.6986
Epoch 26/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6338 - accuracy: 0.6914 - val_loss: 0.6329 - val_accuracy: 0.6529
Epoch 27/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6026 - accuracy: 0.6986 - val_loss: 0.6176 - val_accuracy: 0.6986
Epoch 28/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6001 - accuracy: 0.7014 - val_loss: 0.5872 - val_accuracy: 0.6914
Epoch 29/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6099 - accuracy: 0.6657 - val_loss: 0.5931 - val_accuracy: 0.6943
Epoch 30/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5940 - accuracy: 0.6929 - val_loss: 0.5843 - val_accuracy: 0.6986
Epoch 31/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5949 - accuracy: 0.6800 - val_loss: 0.5928 - val_accuracy: 0.6971
Epoch 32/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5974 - accuracy: 0.6900 - val_loss: 0.6259 - val_accuracy: 0.6614
Epoch 33/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6234 - accuracy: 0.6771 - val_loss: 0.6685 - val_accuracy: 0.6871
Epoch 34/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6161 - accuracy: 0.6929 - val_loss: 0.5847 - val_accuracy: 0.7000
Epoch 35/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6022 - accuracy: 0.6843 - val_loss: 0.6178 - val_accuracy: 0.6971
Epoch 36/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5930 - accuracy: 0.6900 - val_loss: 0.5838 - val_accuracy: 0.6957
Epoch 37/100
22/22 [==============================] - 0s 3ms/step - loss: 0.6001 - accuracy: 0.6914 - val_loss: 0.6276 - val_accuracy: 0.6971
Epoch 38/100
22/22 [==============================] - 0s 3ms/step - loss: 0.6348 - accuracy: 0.6829 - val_loss: 0.6806 - val_accuracy: 0.5871
Epoch 39/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6084 - accuracy: 0.6743 - val_loss: 0.5843 - val_accuracy: 0.6957
Epoch 40/100
22/22 [==============================] - 0s 3ms/step - loss: 0.6146 - accuracy: 0.6986 - val_loss: 0.5907 - val_accuracy: 0.6971
Epoch 41/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5895 - accuracy: 0.6929 - val_loss: 0.5864 - val_accuracy: 0.6957
Epoch 42/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6007 - accuracy: 0.6857 - val_loss: 0.6059 - val_accuracy: 0.6971
Epoch 43/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6370 - accuracy: 0.6543 - val_loss: 0.6493 - val_accuracy: 0.6186
Epoch 44/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6000 - accuracy: 0.6886 - val_loss: 0.5856 - val_accuracy: 0.6957
Epoch 45/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5940 - accuracy: 0.6757 - val_loss: 0.5837 - val_accuracy: 0.6957
Epoch 46/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5917 - accuracy: 0.6943 - val_loss: 0.5858 - val_accuracy: 0.6986
Epoch 47/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5919 - accuracy: 0.6900 - val_loss: 0.5882 - val_accuracy: 0.6971
Epoch 48/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5953 - accuracy: 0.6914 - val_loss: 0.6049 - val_accuracy: 0.6957
Epoch 49/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5888 - accuracy: 0.6986 - val_loss: 0.5981 - val_accuracy: 0.7000
Epoch 50/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6012 - accuracy: 0.6857 - val_loss: 0.6176 - val_accuracy: 0.6700
Epoch 51/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6039 - accuracy: 0.6671 - val_loss: 0.6120 - val_accuracy: 0.6929
Epoch 52/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6263 - accuracy: 0.6929 - val_loss: 0.5900 - val_accuracy: 0.6943
Epoch 53/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5955 - accuracy: 0.6986 - val_loss: 0.5841 - val_accuracy: 0.6929
Epoch 54/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6986 - val_loss: 0.6619 - val_accuracy: 0.6871
Epoch 55/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6064 - accuracy: 0.6871 - val_loss: 0.5833 - val_accuracy: 0.6957
Epoch 56/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5972 - accuracy: 0.7014 - val_loss: 0.6087 - val_accuracy: 0.6786
Epoch 57/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5932 - accuracy: 0.6971 - val_loss: 0.5835 - val_accuracy: 0.6957
Epoch 58/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5893 - accuracy: 0.6914 - val_loss: 0.5873 - val_accuracy: 0.6971
Epoch 59/100
22/22 [==============================] - 0s 3ms/step - loss: 0.6040 - accuracy: 0.6871 - val_loss: 0.6680 - val_accuracy: 0.6100
Epoch 60/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6222 - accuracy: 0.6686 - val_loss: 0.5831 - val_accuracy: 0.6986
Epoch 61/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5908 - accuracy: 0.6843 - val_loss: 0.6017 - val_accuracy: 0.6943
Epoch 62/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5998 - accuracy: 0.6871 - val_loss: 0.6114 - val_accuracy: 0.6800
Epoch 63/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6185 - accuracy: 0.6786 - val_loss: 0.5937 - val_accuracy: 0.6957
Epoch 64/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5890 - accuracy: 0.6986 - val_loss: 0.5958 - val_accuracy: 0.6943
Epoch 65/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5972 - accuracy: 0.6886 - val_loss: 0.6031 - val_accuracy: 0.6929
Epoch 66/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6092 - accuracy: 0.6957 - val_loss: 0.6097 - val_accuracy: 0.6957
Epoch 67/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6337 - accuracy: 0.6757 - val_loss: 0.6155 - val_accuracy: 0.6657
Epoch 68/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6125 - accuracy: 0.6600 - val_loss: 0.5888 - val_accuracy: 0.6971
Epoch 69/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6078 - accuracy: 0.6943 - val_loss: 0.6028 - val_accuracy: 0.6943
Epoch 70/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6125 - accuracy: 0.6757 - val_loss: 0.6024 - val_accuracy: 0.6943
Epoch 71/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5921 - accuracy: 0.6943 - val_loss: 0.5836 - val_accuracy: 0.6957
Epoch 72/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6046 - accuracy: 0.6843 - val_loss: 0.5848 - val_accuracy: 0.6986
Epoch 73/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5890 - accuracy: 0.6886 - val_loss: 0.5835 - val_accuracy: 0.6943
Epoch 74/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5905 - accuracy: 0.6971 - val_loss: 0.6075 - val_accuracy: 0.6871
Epoch 75/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5912 - accuracy: 0.6914 - val_loss: 0.5979 - val_accuracy: 0.7000
Epoch 76/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5895 - accuracy: 0.6929 - val_loss: 0.5882 - val_accuracy: 0.6971
Epoch 77/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5857 - accuracy: 0.6971 - val_loss: 0.6532 - val_accuracy: 0.6229
Epoch 78/100
22/22 [==============================] - 0s 3ms/step - loss: 0.6001 - accuracy: 0.6886 - val_loss: 0.5955 - val_accuracy: 0.6957
Epoch 79/100
22/22 [==============================] - 0s 3ms/step - loss: 0.5976 - accuracy: 0.6986 - val_loss: 0.5884 - val_accuracy: 0.6857
Epoch 80/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6137 - accuracy: 0.6986 - val_loss: 0.6142 - val_accuracy: 0.6971
Epoch 81/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5924 - accuracy: 0.6886 - val_loss: 0.5984 - val_accuracy: 0.6957
Epoch 82/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5979 - accuracy: 0.6971 - val_loss: 0.5864 - val_accuracy: 0.6943
Epoch 83/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5919 - accuracy: 0.7000 - val_loss: 0.5878 - val_accuracy: 0.6957
Epoch 84/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5978 - accuracy: 0.6957 - val_loss: 0.5971 - val_accuracy: 0.6914
Epoch 85/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5910 - accuracy: 0.6914 - val_loss: 0.5842 - val_accuracy: 0.6943
Epoch 86/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6059 - accuracy: 0.7029 - val_loss: 0.6358 - val_accuracy: 0.6429
Epoch 87/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5887 - accuracy: 0.6843 - val_loss: 0.5849 - val_accuracy: 0.6986
Epoch 88/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5953 - accuracy: 0.6957 - val_loss: 0.5863 - val_accuracy: 0.6971
Epoch 89/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5866 - accuracy: 0.6957 - val_loss: 0.5844 - val_accuracy: 0.6943
Epoch 90/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5903 - accuracy: 0.7029 - val_loss: 0.5831 - val_accuracy: 0.6971
Epoch 91/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5914 - accuracy: 0.6886 - val_loss: 0.5840 - val_accuracy: 0.6971
Epoch 92/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6054 - accuracy: 0.6914 - val_loss: 0.6799 - val_accuracy: 0.6857
Epoch 93/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6233 - accuracy: 0.6957 - val_loss: 0.5840 - val_accuracy: 0.6943
Epoch 94/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5965 - accuracy: 0.7071 - val_loss: 0.5867 - val_accuracy: 0.6957
Epoch 95/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5916 - accuracy: 0.6786 - val_loss: 0.5846 - val_accuracy: 0.6986
Epoch 96/100
22/22 [==============================] - 0s 2ms/step - loss: 0.6127 - accuracy: 0.6871 - val_loss: 0.6254 - val_accuracy: 0.6971
Epoch 97/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5977 - accuracy: 0.6886 - val_loss: 0.5836 - val_accuracy: 0.6914
Epoch 98/100
22/22 [==============================] - 0s 3ms/step - loss: 0.5954 - accuracy: 0.6929 - val_loss: 0.6186 - val_accuracy: 0.6971
Epoch 99/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5995 - accuracy: 0.6900 - val_loss: 0.5878 - val_accuracy: 0.6957
Epoch 100/100
22/22 [==============================] - 0s 2ms/step - loss: 0.5915 - accuracy: 0.6929 - val_loss: 0.5840 - val_accuracy: 0.6957